<div class="title">
  <pre>
     ___   _____ ______________   _____________   ____________  ___  __________  ____ 
    /   | / ___// ____/  _/  _/  / ____/ ____/ | / / ____/ __ \/   |/_  __/ __ \/ __ \
   / /| | \__ \/ /    / / / /   / / __/ __/ /  |/ / __/ / /_/ / /| | / / / / / / /_/ /
  / ___ |___/ / /____/ /_/ /   / /_/ / /___/ /|  / /___/ _, _/ ___ |/ / / /_/ / _, _/ 
 /_/  |_/____/\____/___/___/   \____/_____/_/ |_/_____/_/ |_/_/  |_/_/  \____/_/ |_|  
  </pre>
  <div class = "generate">
    <div class="image-input" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
      <div class="input-title">Input image</div>
      <div class="image-box" id="drop-area" (click)="fileInput.click()" (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
        <p *ngIf="!fileDropped">Drag and drop image here</p>
        <input type="file" #fileInput accept="image/*" (change)="handleFileInput(fileInput.files)" hidden>
        <div *ngIf="imageUrl" class="image-preview">
          <img [src]="imageUrl" alt="Image preview">
        </div>
      </div>
    </div>
    <div class = "settings">
      <div class="settings-title">Settings</div>
        <label for = "Style" name = "styleLabel">Sytles</label>
        <select name ="Style"id = "Style" [(ngModel)]="Style">
          <option value = "Classic">Classic</option>
          <option value = "Minimal">Minimal</option>
          <option value = "dotStar">Dot Star</option>
        </select>
        <label for="sensitivitySlider">Sensitivity</label>
        <input type="range" id="sensitivitySlider" name="sensitivitySlider" [(ngModel)]="sensitivity" min="0" max="1" step="0.01">
        
        <label for="heightSlider">Height</label>
        <input type="range" id="height" name="heightSlider" [(ngModel)]="height" min="0" max="500" step="10" value = "490">

        <label for="widthSlider">Width</label>
        <input type="range" id="width" name="widthSlider" [(ngModel)]="width" min="0" max="150" step="10" value="70">

        <label for="inverse-title">inverse:</label>
        <input type="checkbox" id="inverseBox" name="inverseBox" [(ngModel)]="inverse">
      <button class="submit" (click)="submit()">generate</button>
    </div>
    <div class="ascii">
      <div class="ascii-title">Ascii</div>
      <div class="ascii-content">
        <pre class>{{ asciiArt }}</pre>
      </div>
    </div>
  </div>
    

</div>